<%inherit file="/base.html"/>

<%block name="content">

    <div class="home-page" id="app">
        <div class="wrapper">
                <i-form ref="model" :model="model" label-width="100">
                    <Form-item label="选择ip">
                            <i-select v-model="ip" style="width:400px">
                                <i-option v-for="item in ipList" :value="item.ip">{{ item.ip }}</i-option>
                            </i-select>
                    </Form-item>
                </i-form>
            <div class="charts-wrapper">
                <ve-line :data="lineData"></ve-line>
            </div>
        </div>
    </div>
</%block>
<script>
     new Vue({
      el: '#app',
      data: function () {
        return {
            model: '',
            ipList:[],
            hostList:[],
            columns1: [
                    {
                        title: '文件名',
                        key: 'name'
                    },
                    {
                        title: '总大小',
                        key: 'total'
                    },
                    {
                        title: '已用大小',
                        key: 'yiyong_size'
                    },
                    {
                        title: '可用大小',
                        key: 'keyong_size'
                    },
                    {
                        title: '使用率',
                        key: 'rate'
                    },
                    {
                        title: '挂载点',
                        key: 'dir'
                    },
                ],
            bk_biz_id:"${bk_biz_id}",
            ip:"",
          chartData: {
            columns: ['type', 'value'],
            rows: []
          },
            chartSettings: {
                showLine: ['disk']
            },
            lineData: {
              columns: ['time', 'cpu', 'men', 'disk'],
              rows: []
            },
            extend:{
                <!--设置柱状图每根柱子的宽度-->
              barMaxWidth: 30
            },
             setting:{
                <!--设置鼠标经过时提示信息-->
                labelMap:{
                  'name': '销售额'
                }
            },
            list:[]
        }
      },
         methods:{
          get_ip_list(){
              axios.get(site_url+ 'get_ip_list/').then(res=>{
                  console.log(res)
                   this.ipList = res.data.message
               })
          },
           getJson(){
               axios.get(site_url+ 'api/getJson/?ip='+this.ip).then(res=>{
                   this.lineData.rows = res.data.data
               })
           },
            get_tables(){
               axios.get(site_url+ 'api/get_tables/?bk_biz_id='+this.bk_biz_id+'&ip='+this.ip).then(res=>{
                   console.log(res.data)
                   this.hostList = res.data.message
               })
           },
             get_chartData(){
               axios.get(site_url+ 'api/get_chartData/?bk_biz_id='+this.bk_biz_id+'&ip='+this.ip).then(res=>{
                   console.log(res.data)
                   this.chartData.rows = res.data.message
               })
           },
         },
         created(){
           this.get_ip_list()
           /*setInterval(this.getJson,1000)*/
         },
         watch: {
            ip(){
                this.getJson()
            },
         }
    })
</script>
<style>
    .charts-wrapper{

    }
    .charts-wrapper{
        width: 50%;
        float:left;
        border:1px solid #ddd;
    }
</style>


